@import url('https://fonts.googleapis.com/css?family=Alatsi');
body {
 background: url(https://i.imgur.com/V3tgwg6.png);
 background-repeat: no-repeat;
 background-size: cover;
 text-align: center;
 color: black;
}
/*
.text {
    text-align: center;
    margin: auto;
}*/
h1 {
  font-family: 'Alatsi', sans-serif;
	font-size: 60px;
	color: 	#605a56;
    z-index: 1;
    position: relative;
    opacity: .5;
}
p {
  font-family: 'Alatsi', sans-serif;
  font-size: 30px;
  color: #605a56;
  opacity: .5;
}