@import url('https://fonts.googleapis.com/css?family=Alatsi');
body {
 background: url('https://images.unsplash.com/photo-1489440543286-a69330151c0b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');
 background-repeat: no-repeat;
 background-size: cover;
 text-align: center;
 color: black;
}
a {
  color: #555555;
  font-weight: 500;
}
.offcenter {
  margin-top: 50px;
  margin-left: 50px;
  
}
.resources {
  margin-top: 30px;
}
.ui.colorone.header.home {
  color: #fafafa;
  background-color: rgba(203, 155, 66, .6);
    font-size: 20px;
    font-weight: bold;
    border-radius: 4px;
  
    
}


.ui.colorseven.resources {
  color: #555555;
  background-color: none;
}
.ui.colorfour.header.topspace {
  color: gray;
  /* padding-top: 50px; */
  margin-top: 50px;
  font-size: 30px;
  border-radius: 8px;
  margin-bottom: 40px;
}
.homeh1 {
  font-family: 'Alatsi', sans-serif;
  font-size: 80px;
  color: #cb9b42;
    z-index: 1;
    position: relative;
}
.homeimg {
  border-radius: 8px;
  border: white 1px solid;
}
.ui.stat{
  font-size: 35px;
  color: black;
  
}
/* 
https://i.imgur.com/V3tgwg6.png */
/* https://images.unsplash.com/photo-1541140134513-85a161dc4a00?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80 */
/* https://images.unsplash.com/photo-1530258422663-6749b47598fd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2872&q=80 */
