@import url('https://fonts.googleapis.com/css?family=Alatsi');

@media screen and (min-width: 0px) and (max-width: 600px)  {
    .shelterlisth1 {
        /* background-color: rgb(203, 155, 66); */
        font-size: 25px;
        font-weight: bold;
        /* color: #f0e9e9; */
        color: #cb9b42;
        
        font-family: 'Alatsi', sans-serif;
    }
    
    .shelterlistcolor {
        background-color: rgba(242,243,238);
    }
}
@media screen and (min-width: 601px) and (max-width: 2000px) {
    .shelterlisth1 {
        /* background-color: rgb(203, 155, 66); */
        font-size: 25px;
        font-weight: bold;
        /* color: #f0e9e9; */
        color: #cb9b42;
        border-radius: 5px;
        font-family: 'Alatsi', sans-serif;
    }
    .shelterlistcolor {
        background-color: rgba(242,243,238, .8);

    }
}